#rad {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-decoration-line: underline;
}

ul {
  list-style-type: none;
  text-align: left;
}

.form-container {
  box-shadow: 0 0 10px rgba(134, 0, 0, 0.5);
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
}

.form-container > input {
  padding: 5%;
  border-radius: 10px;
  border-color: inherit;
  margin-bottom: 10px;
}
.form-container > select {
  margin-bottom: 10px;
  padding: 5%;
  width: 100%;
  border-radius: 10px;
}

.form-container > label {
  font-size: larger;
  margin-bottom: 10px;
}
.form-container > button {
  padding: 1rem;
  background-color: pink;
  border-radius: 10px;
  width: 100%;
}

#uno {
  height: 10px;
  text-align: center;
}

.catalogueColor {
  text-transform: capitalize;
}

.container {
  height: 70px;
  box-shadow: 0 0 10px rgba(14, 0, 0, 0.5);
  width: 150px;
  border-radius: 10px;
}

.two {
  height: 100px;
}